asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.0
chardet==3.0.4
Click==7.0
cryptography==2.5
Django==2.1.7
django-qr-code==1.0.0
djangorestframework==3.9.1
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pkg-resources==0.0.0
pycparser==2.19
pytz==2018.9
qrcode==6.1
requests==2.21.0
six==1.12.0
urllib3==1.26.5
Werkzeug==0.14.1
